.container {
  background-color: #88a3c3;
  display: flex;
  max-width: none;
  height: 46rem;
}

.leftblock {
  width: 30%;
  height: 100%;
  display: block;
  padding: 0.5rem;
  gap: 20px;
}

.rightblock {
  width: 70%;
  height: 100%;
  display: flex;
  padding: 0.5rem;
  gap: 56px;
  flex-direction: column;
}
